# Rule34
RULE34_API_KEY=
RULE34_USER_ID=

# Gelbooru
GELBOORU_API_KEY=
GELBOORU_USER_ID=

# Sankaku
SANKA_LOGIN=
SANKA_PASSWORD=

# Pinterest
PINTEREST_COOKIES=
PINTEREST_EMAIL=
PINTEREST_PASSWORD=

# Pixiv
PIXIV_LOGIN_EMAIL=
PIXIV_LOGIN_PASSWORD=
PIXIV_REFRESH_TOKEN=

# Zerochan
ZEROCHAN_USERNAME=
ZEROCHAN_PASSWORD=

# Proxy
USE_PROXY=false
PROXY_URL=http://127.0.0.1:10808
VERIFY_TLS=false

# Timings
API_TIMEOUT=10
RETRY_WAIT=5
ANTI_BAN_PAUSE=3.0
DOWNLOAD_RETRIES=3