# ========================
# Downloaded Content & User Data (NEVER UPLOAD)
# ========================
Rem God/
Safebooru/
Rule34/
Zerochan/
Waifu.im/
Nekos.best/

# User History and Favorites Databases
tag_history.json
fav_tags.json
image_history.json

# ========================
# Personal Wallpapers Filter
# ========================
# هر عکسی که در این پوشه فرعی بگذاری آپلود نخواهد شد
web/wallpaper/personal/

# ========================
# Python & Virtual Environments
# ========================
__pycache__/
*.pyc
*.pyo
venv/
env/
.env

# ========================
# Build & Executable Files
# ========================
build/
dist/
*.spec
