[Desktop Entry]
Type=Application
Name=Rem God Catcher
Comment=Multi-threaded image & media scraper
Exec=zsh -c "cd /home/hanekawa/test/Rem-s-Dl-test && /home/hanekawa/.pyenv/versions/3.13.7/bin/python Rems_Dl.py"
Icon=/home/hanekawa/test/Rem-s-Dl-test/web/icons/icon.png
StartupWMClass=com.remsdl.RemGodCatcher
Terminal=false
Categories=Graphics;
StartupNotify=true
